.container.posts__form-wrap.col-12.pb-4
  .row.justify-content-between.mb-3
    %div.col-3.text-center.active#form-btn1
      %span.fa-solid.fa-pen-to-square.pointer
      %p.sp-hide White Space
    %div.col-3.text-center#form-btn2.pointer
      %span.fa-regular.fa-image
      %p.sp-hide Shere Image
    %div.col-3.text-center#form-btn3.pointer
      %span.fa-solid.fa-dumbbell
      %p.sp-hide Share Training
  = form_with model: post do |f|
    // テキスト記述用
    .container#tab1
      .row.justify-content-center
        = f.text_area :body, placeholder: "今日はどうでしたか？", class: "post-form"
      .row.justify-content-center.mt-3
        = f.submit t("post-submit-text"), class: "btn btn-primary rounded-pill col-lg-1 col-md-3 col-5"
    // 画像投稿用
    .container#tab2{hidden: true}
      .row.justify-content-center
        = f.file_field :images, id: "image-upload", multiple: true
      .row
        .justify-content-between#previews
      .row.justify-content-center.mt-3
        = f.submit t("post-submit-text"), class: "btn btn-primary rounded-pill col-lg-1 col-md-3 col-5"
    // トレーニング投稿用
    .container#tab3{hidden: true}
      .row.justify-content-center
        .col-12
          = month_calendar events: current_user.training_sets do |date, events|
            = date.day
            - events.each do |event|
              %div
                = f.radio_button :selected_date, date
                = image_tag asset_path("dumbbell.png"), size: "50x40", class: "ml-4"
      .row.justify-content-center.mt-3
        = f.submit t("post-submit-text"), class: "btn btn-primary rounded-pill col-lg-1 col-md-3 col-5"