.container-fluid.posts__content-wrap.col-12.mt-2
  .row
    = render "public/users/post_user_info", show_post: show_post
  = link_to post_path(show_post), class: "posts__content-text"  do
    .row.mt-3
      %p.ml-5.text-dark
        = show_post.body
  .row.mt-2.d-flex.align-items-center
    .btn.ml-5{id: "comment_show_btn-#{show_post.id}"}
      %span.btn.btn-success.btn-sm.h-25.btn-text{id: "comment_show_btn_text-#{show_post.id}"}
        = "+"
      %span.my-auto.ml-1
        コメントを見る/送る
  .comment__wrap{id: "comment__wrap-#{show_post.id}"}
    .row.mt-2
      .col-10
        .container-fluid{id: "comment__wrap-content-#{show_post.id}"}
          = render partial: "public/comments/show_comment", collection: show_post.comments, as: :comment
    .row.ml-5.mt-2
      .col-8
        = render "public/comments/form", post: show_post, comment: comment
  .row
    .col-2.offset-1.text-center{id: "favorite__wrap-#{show_post.id}"}
      = render "public/favorites/btn", post: show_post
    .btn.col-2
      %span.fa-solid.fa-retweet
      = t("repost")
    .btn.col-2
      %span.fa-solid.fa-triangle-exclamation
      = t("report")