.container-fluid.posts__content-wrap.col-12.mt-2
  .row
    = render "public/users/post_user_info", show_post: show_post
  = link_to post_path(show_post), class: "posts__content-text"  do
    .row.mt-3
      %p.ml-5.text-dark
        = show_post.body
  .row.mt-2.d-flex.align-items-center
    .btn.ml-5#comment_show_btn
      %span.btn.btn-success.btn-sm.h-25.btn-text
        = "+"
      %span.my-auto.ml-1
        コメントを見る/送る
  .comment__wrap
    .row.mt-2
      .col-8#comment__wrap
        .container-fluid.comment__wrap-content
          = render partial: "public/comments/show_comment", collection: show_post.comments, as: :comment
    .row.ml-5.mt-2
      .col-8
        = render "public/comments/form", post: show_post, comment: comment
  .row#favorite__wrap
    = render "public/favorites/btn", post: show_post