.container
  .row
    .sidebar__wrap.col-lg-3.col-md-2
      = render "layouts/sidebar"
    .posts__main.col-lg-9.col-md-10.mb-5
      - unless admin_signed_in?
        = render "public/posts/form", post: @post
      .row.justify-content-around.border-bottom
        - unless admin_signed_in?
          .col-auto.text-center.pointer.active#all_posts_btn
            = t("all")
          .col-auto.text-center.pointer#follow_posts_btn
            %span
            = t("following")
      .posts_show#all_posts
        = render partial: "public/posts/show_post", collection: @posts, locals: { comment: @comment}
      = paginate @posts
      - unless admin_signed_in?
        .following_post_show#follow_posts{hidden: true}
          = render partial: "public/posts/show_post", collection: @follow_posts, locals: { comment: @comment}
        = paginate @follow_posts