.session__wrap.bg-light.mx-auto.py-3
  .row.justify-content-center
    %h3
      = t("admin-sign-in")
  = form_with model: resource, url: session_path(resource_name), local: true do |f|
    .row.field
      = f.label :email, t("email"), class: "col-10 offset-2"
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "col-8 offset-2"
    .row.field
      = f.label :password, t("password"), class: "col-10 offset-2"
      = f.password_field :password, autocomplete: "current-password", class: "col-8 offset-2"
    .row.mt-3.offset-2.actions
      = f.submit t("log-in")
