.row.my-2
  = link_to user_path(comment.user), class: "col-lg-8 col-8" do
    = image_tag comment.user.get_profile_image(30,30), class: "rounded-circle"
    = comment.user.name
  - if comment.user == current_user
    = link_to t("destroy"), post_comment_path(comment.post,comment), method: :delete, remote: true, class: "offset-2 col-md-auto col-2 my-auto content-end btn btn-danger"
  %p.commnet__wrap-body.col-6.offset-2
    = comment.body
  %span.btn.btn-success.col-md-auto.offset-2.col-2.my-auto{ id: "reply-btn-#{comment.id}" }
    = t("reply")
.coutainer.reply__wrap.offset-1{id: "reply__wrap-comment-#{comment.id}"}
  %div{id: "reply__wrap-content-#{comment.id}"}
    = render partial: "public/replies/show_reply", collection: comment.replies, as: "reply"
.row.my-2.ml-5.comment__reply-form{ id: "comment-reply-form-#{comment.id}" }
  = form_with model: [comment.post, comment, Comment.new], url: post_comment_replies_path(comment.post, comment), method: :post, local: false do |i|
    = i.text_field :body, placeholder: t("send-reply"), class: "col-10 reply__form"