.container
  .row
    .col-3
      = render "layouts/sidebar"
    .container.col-9.mb-5.mt-5
      .row.col-7.mx-auto.d-flex.justify-content-between
        %span.text-dark.active.btn#following_btn
          = t("follow")
        %span.text-dark.btn#followers_btn
          = t("follower")
      .row#relationship__wrap-following
        = render "public/relationships/show_page", items: @following
      .row#relationship__wrap-followers{hidden: true}
        = render "public/relationships/show_page", items: @followers
