%li.navigation-menu-item
  - if item[:type] == "link"
    = link_to item[:path], method: item[:method] || nil, class: "navigation-menu-button #{item[:class]}" do
      = item[:text]
  - elsif item[:type] == "pop_up"
    %btn.navigation-menu-button{class: "#{item[:class]}"}
      = item[:text]