%nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  .container
    %a.navbar-brand{href: "#page-top"}
      = image_tag asset_path("nav-image.png")
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", type: "button"}
      Menu
      %i.fas.fa-bars.ms-1
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.text-uppercase.ml-auto.py-4.py-lg-0
        %li.nav-item
          %a.nav-link{href: "#services"} Services
        %li.nav-item
          %a.nav-link{href: "#contact"} Contact
        %li.nav-item
          %span.nav-link.login-btn Sign in
        %li.nav-item
          = link_to "Sign up", new_user_registration_path, class: "nav-link"
/ Masthead
%header.masthead
  .container
    .main__login-form
      = render "public/sessions/form", user: @user
    .masthead-subheading Welcome To FitHub!
    .masthead-heading.text-uppercase It's Nice To Meet You
    %span.btn.btn-primary.btn-xl.text-uppercase.login-btn.mr-2 Sign in
    = link_to "Sign up", new_user_registration_path, class: "ml-2 btn btn-success btn-xl text-uppercase"
/ Services
%section#services.page-section
  .container
    .text-center
      %h2.section-heading.text-uppercase Services
    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fas.fa-circle.fa-stack-2x.text-primary
          %i.fa-solid.fa-comment.fa-stack-1x.fa-inverse.service-icon
        %h4.my-3 SNS
        %p.text-muted トレーニングを共有し、仲間と競い合いましょう。SNS機能で、あなたの成果を世界と共有し、モチベーションを高めます。
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fas.fa-circle.fa-stack-2x.text-primary
          %i.fas.fa-laptop.fa-stack-1x.fa-inverse.service-icon
        %h4.my-3 Training
        %p.text-muted トレーニングの細部を見逃しません。セット数、リピート数、重量などを細かく記録し、進歩を徹底的にトラッキングしましょう。
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fas.fa-circle.fa-stack-2x.text-primary
          %i.fa-solid.fa-weight-scale.fa-stack-1x.fa-inverse.service-icon
        %h4.my-3 Body Manege
        %p.text-muted 理想の体重に向けて一歩近づきましょう。体重管理機能で目標を設定し、進捗をシックなグラフで確認しましょう。
/ Contact
%section#contact.page-section
  .container
    .text-center
      %h2.section-heading.text-uppercase Contact
    = form_with model: Request.new, url: request_path, method: :post, id: "contactForm" do |f|
      .row.align-items-stretch.mb-5
        .col-md-12.row.mx-auto
          .form-group.col-md-6.col-12
            = f.text_field :title, class: "form-control", placeholder: "title"
          .form-group.col-md-6.col-12
            = f.text_field :email, class: "form-control", placeholder: "Your Email", value: request_user_email
        .col-md-12
          .form-group.form-group-textarea.mb-
            = f.text_area :body, class: "form-control", placeholder: "Your Message"
      .text-center
        = f.submit "Send Message", class: "submitButton btn btn-primary btn-xl text-uppercase disabled"
        