%tr{class: report_check_unread(report)}
  %td
    = report.id
  %td
    = link_to t("show_post"), post_path(report.post), class: report_check_unread(report)
  %td
    = report.created_at.strftime('%y/%m/%d')
  %td
    %btn.btn.btn-primary{type: "button", "data-toggle": "modal", "data-target": "#report#{report.id}"}
      確認
  %td
    = report.status_i18n