%tr{class: check_unread(request)}
  %td
    = request.id
  %td
    = request.title
  %td
    = request.created_at.strftime('%y/%m/%d')
  %td
    %btn.btn.btn-primary{type: "button", "data-toggle": "modal", "data-target": "#request#{request.id}"}
      確認
  %td
    = request.status_i18n