.row.mt-4
  .col-3
    = image_tag user.get_profile_image(100,100), class: "rounded-circle mypage-image"
  .col-4.ml-3
    %p.my-auto
      = user.name
  - unless user == current_user
    .col-4{class: "follow__wrap#{user.id}"}
      = render "public/relationships/btn", user: user
.row.m-4
  %p
    = user.introduction
