- unless admin_signed_in?
  - count = current_user.passive_notifications.where(checked: false).count
.col-12#header
  .row.justify-content-between
    = link_to root_path, class: "my-auto col-auto text-light" do
      %h3.header-logo
        = image_tag asset_path("nav-image.png")
    - unless admin_signed_in?
      .col-auto
        = link_to notifications_path do
          %i.btn.fa-regular.fa-bell.header-item
          - unless count == 0
            %span.rounded-circle.notice-count
              = count
        = link_to user_path(current_user) do
          = image_tag current_user.get_profile_image(30,30), class: "rounded-circle"
    - else
      .col-auto
        = link_to destroy_admin_session_path, method: :delete do
          %span.fa-solid.fa-arrow-right-from-bracket.header-item