.sidebar.container-fluid.bg-light.d-flex.flex-column
  .row.main-logo
    #logo.logo.mx-auto
      = link_to root_path do
        = image_tag asset_path("main_logo.png"), class: "main_logo"
  - sidebar_main_items.each do |item|
    .row.mx-auto.sidebar__item-wrap
      - if item[:type] == "link"
        = link_to item[:path], class: "sidebar__item-link text-dark" do
          %i.my-auto.col-2{class: item[:logo]}
          %span.col-9.offset-1.sidebar_text
            = item[:text]
      - elsif item[:type] == "pup_up"
        %span.pointer.text-dark.sidebar__item-link{"data-toggle": "modal", "data-target": "#requestForm"}
          %i.my-auto.col-2{class: item[:logo]}
          %span.col-9.offset-1.sidebar_text
            = item[:text]

= render "public/requests/form"