!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fithub
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/f772debc2c.js"}

    %script{src: "https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.js"}
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .primary
      = yield :error
      #flash
        = render "layouts/notification"
    .main
      - if controller.controller_name == 'errors'
        = yield
      - else
        - unless sidebar_nothing? || !user_signed_in? && !admin_signed_in?
          .container
            .row
              .header__wrap.DownMove.col-12
                = render "layouts/header"
              .sidebar__wrap.col-lg-3.col-md-2
                = render "layouts/sidebar"
              .content__wrap.col-lg-9.col-md-10
                = yield
              .footer__wrap.col-12
                = render "layouts/footer"
          = render "public/requests/form"
          = render "public/searches/modal"
        - else
          = yield