!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fithub
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/f772debc2c.js"}
    %script{src: "https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.js"}
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .primay
      = yield :error
      #flash
        = render "layouts/notification"
    .main
      = yield
